* {
	font-size: 18pt;
}
body {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #333;
	line-height: 1.28;
	text-align: left;
	direction: ltr;
}
a {
	cursor: pointer;
	color: #3B5998;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
div {
	display: block;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: -5px;
	display: block;
}
ul > li {
	border-color: #E9E9E9;
	border-width: 1px 0 0 0;
	border-style: solid;
	display: block;
}
.storyContent {
	padding: 12px 35px 14px 18px;
	display: block;
	background: rgba(255,255,255,0.3);
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.storyInnerContent {
	display: table-cell;
	vertical-align: top;
	width: 10000px;
}
.storyInnerContent .actorPhoto {
	display: block;
}
.actorPhoto {
	border-radius: 5px;
	display: block;
	width: 100px;
	height: 100px;
	overflow: hidden;
	border: 0;
	margin-right: 10px;
	float: left;
	line-height: 100px;
}
.actorPhoto img {
	max-width: 100px;
	vertical-align: middle;
}
.actorName, .mainWrapper strong {
	color: #3B5998;
	font-weight: bold;
	margin: 0 0 5px 0;
	margin-right: 5px;
	margin-bottom: 0;
	word-break: break-word;
	word-wrap: break-word;
	padding: 0;
	padding-bottom: 3px;
}
.facebookLogo {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 64px;
}
.ellipsis{
	max-height:8.5em;
	overflow:hidden;
}
.ellipsis > .messageBody {
	color: black;
	display: inline;
	font-weight: normal;
	margin: 0 0 5px 0;
	padding: 0;
	text-overflow:ellipsis;
	white-space:pre-wrap;
	
}
.mainWrapper > .links {
	display: block;
	margin: 10px 0;
}
.mainWrapper > .links > img {
	display: block;
	min-width: 100px;
	max-width: 150px;
	max-height: 150px;
	float: left;
	margin-right: 20px;
}
.mainWrapper > .links > .linkData > .caption {
	color: #3B5998;
}
.mainWrapper > .links > .linkData > .description {
	color: gray;
	margin-top: 5px;
	word-break: break-word;
	word-wrap: break-word;
	display: block;
}
.mainWrapper > .links > .linkData > strong {
	display: block;
}
.mainWrapper > .links > .linkData {
	display: table-cell;
	vertical-align: top;
	width: 10000px;
}
.mainWrapper > .image > img{
	margin-right:10px;
	border: 1px solid rgba(0, 0, 0, .08);
	max-width:100%;
	max-height:30em;
}
.mainWrapper > .share{
	position:relative;
	display:block;
	color:#333;
	background:#f7f7f7;
	margin-top:10px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	border: 1px solid rgba(0, 0, 0, .08);
}
.mainWrapper > .share > .left{
	float:left;
	margin-right:10px;
	border-right: 1px solid rgba(0, 0, 0, .08);
}
.mainWrapper > .share > .left > img{
	max-width:8em;
	width:8em;
}
.mainWrapper > .share > .right{
	margin-right:10px;
	margin-left:10px;
}
abbr {
	border-bottom: none;
	color: #666;
}
.commentLike {
	outline: none;
	margin-right: 5px;
	float: left;
	display: block;
	height: 25px;
	width: 25px;
}
.listReplies {
	list-style-type: none;
	padding: 0;
	padding-top: 2px;
	margin: 0;
	list-style-type: none;
	display: block;
}
.listReplies li {
	background-color: #EDEFF4;
	border-bottom: 1px solid #D2D9E7;
	margin-top: 1px;
	padding: 5px 5px 4px;
	display: list-item;
	text-align: -webkit-match-parent;
}
.listReplies li .actorPhoto {
	width: 75px;
	height: 75px;
}
.listReplies li .commentFooter {
	padding-top: 2px;
}
.listReplies li .likeIcon {
	width: 25px;
	height: 25px;
	border: 0;
	margin-bottom: -1px;
	margin-right: 5px;
	margin-left: 3px;
}
.listReplies li .replyLikes {
	margin: -5px;
	padding: 5px;
	padding-top: 0;
	color: #3B5998;
}
#container {
	
}
